.cart_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coin {
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  padding: 1rem;
}

.coin > img {
  width: 5rem;
  height: 5rem;
  background: gray;
}

.details {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.coin > input {
  width: 3rem;
}

.cartitem_detail {
  margin-top: 3rem;
  width: 25rem;
  height: 80vh;
  border: 1px solid black;
}
